<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>가스 스테이션</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .sign-register {
            display: flex;
            flex-direction: row;
            align-items: right;
            justify-content: right;
            margin: 15px 10px 20px auto;
        }

        .search-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            margin-left: 49.5%;
            margin-top: 5%;
        }

        /* 리스트를 감싸는 div */
        .container {
            display: flex;
            flex-wrap: wrap;
        }


        /* 리스트 영역 */
        #list {
            margin-left: 30%;
            width: 40%;
            height: 500px;
        }

        /* 리스트 아이템 */
        li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        /* 리스트 아이템 마우스 호버 */
        li:hover {
            background-color: #F5F5F5;
        }

        /* 검색창 */
        .search-input {
            width: 20%;
            margin-right: 2%;
            float: left;
            margin-top: 1.5%;
        }

        /* 검색창 버튼 */
        .search-container>button {
            float: left;
            background-color: #1AAE9F;
            border-color: #1AAE9F;
            margin-right: 46%;
        }

        .user {
            color: black;
            text-decoration: none;
        }

        .mb-1 {
            margin-top: 3%;
        }
    </style>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        // 메인페이지 접속시 로그인 상태 여부에 따라 UI 변경
        $(document).ready(function () {
            isLogin()
        });

        //로그인 상태 여부 확인
        function isLogin() {
            let token = $.cookie('mytoken')
            console.log(token)
            // 토큰이 없으면
            if (token == null) {
                console.log("비 로그인")
                $('#logout').css('display', 'none')
                $('#login').css('display', 'block')
                $('#join').css('display', 'block')
            } else {
                console.log("로그인")
                $('#logout').css('display', 'block')
                $('#login').css('display', 'none')
                $('#join').css('display', 'none')
            }
        }

        //로그아웃
        function logout() {
            // 토큰 제거
            $.removeCookie('mytoken');
            alert("로그아웃")
            window.location.reload()
        }

        function makeList(infoId, infoName, infoAddress, infoPrice, lat, lon) {
            let gasoline, diesel
            infoPrice.forEach((e) => {
                if (e['PRODCD'] == 'B027') { // 휘발유 코드
                    gasoline = e['PRICE']
                }
                if (e['PRODCD'] == 'D047') { // 경유 코드
                    diesel = e['PRICE']
                }
            })
            let replacaeAddr = infoAddress.replaceAll(' ', '+')
            let replacaeName = infoName.replaceAll(' ', '+')
            // 전송할 url
            let url = "/review?code=" + infoId + "&name=" + replacaeName + "&addr=" + replacaeAddr + "&gasoline=" + gasoline + "&diesel=" + diesel + "&lat=" + lat + "&lon=" + lon
            let temphtml = `<a href=${url} class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 station-name">${infoName}</h5>
                                </div>
                                <div class="d-flex price-container">
                                    <p class="mb-1 gasoline-price" style="margin-right: 5%;">휘발유: ${gasoline}</p>
                                    <p class="mb-1 diesel-price">경유: ${diesel}</p>
                                </div>
                                <small class="station-address">${infoAddress}</small>
                            </a>`
            $('#station-list').append(temphtml)
        }

        //검색
        function search() {
            let keyword = $('#search-input2').val()
            let replaceKeyword = keyword.replaceAll(' ', '+')
            window.location.href = "/list?location=" + replaceKeyword
        }
    </script>
</head>

<body>
    <div id="map" style="width:0%; height:0px;"></div>

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=beca46d4e7e23adeaca7d364f08bcb89&libraries=services"></script>
    <script>
        var searchAddr = "{{ keyword }}"
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();

        // 키워드로 장소를 검색합니다
        ps.keywordSearch(searchAddr, placesSearchCB);

        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                var bounds = new kakao.maps.LatLngBounds();

                for (var i = 0; i < data.length; i++) {
                    displayMarker(data[i]);
                    bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                }

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                map.setBounds(bounds);
                var position = map.getCenter();
                var centerLat = position.getLat()
                var centerLng = position.getLng()

                const options = {
                    method: 'GET',
                    headers: { accept: 'application/json', appKey: 'e8wHh2tya84M88aReEpXCa5XTQf3xgo01aZG39k5' }
                };

                var locationTransform
                var uniIdList = new Array();
                var code = 'F230329089' // 주유소 API 코드
                // 중심 좌표 변환
                fetch(`https://apis.openapi.sk.com/tmap/geo/coordconvert?version=1&lat=${centerLat}&lon=${centerLng}&fromCoord=WGS84GEO&toCoord=KATECH`,
                    options)
                    .then(response => response.json())
                    .then(response => locationTransform = response['coordinate'])
                    // 근처 주유소 목록
                    .then(response => fetch(`https://www.opinet.co.kr/api/aroundAll.do?code=${code}&x=${locationTransform['lon']}&y=${locationTransform['lat']}&radius=2000&sort=1&prodcd=B027&out=json`)
                        .then(res => res.json())
                        .then(data => {
                            let result = data['RESULT']['OIL']
                            $('#station-list').empty()
                            result.forEach((e) => {
                                // 주유소 아이디
                                let uniId = e['UNI_ID']
                                // 주유소 상세 정보
                                fetch(`https://www.opinet.co.kr/api/detailById.do?code=${code}&id=${uniId}&out=json`)
                                    .then(res => res.json())
                                    .then(data => {
                                        let information = data['RESULT']['OIL']
                                        information.forEach((info) => {
                                            let infoName = info['OS_NM']
                                            let infoAddress = info['NEW_ADR']
                                            let infoPrice = info['OIL_PRICE']
                                            let lat = info['GIS_X_COOR']
                                            let lon = info['GIS_Y_COOR']
                                            makeList(uniId, infoName, infoAddress, infoPrice, lat, lon)
                                        })
                                    })
                            })
                        }))
                    .catch(err => console.error(err));

            }
        }
        // 지도에 마커를 표시하는 함수입니다
        function displayMarker(place) {

            // 마커를 생성하고 지도에 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                infowindow.open(map, marker);
            });
        }
    </script>

    <div class="sign-register">
        <button onclick="location.href='/login'" id="login" type="button" class="btn btn-login">로그인</button>
        <button onclick="location.href='/join'" id="join" type="button" class="btn btn-join">회원가입</button>
        <button onclick="logout()" id="logout" type="button" class="btn btn-join" style="display: none;">
            로그아웃
        </button>
    </div>
    <div class="search-container">
        <!-- 검색창 -->
        <div class="input-group mb-3 search-input">
            <input id="search-input2" type="text" class="form-control" placeholder="검색" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <button onclick="search()" id="submit-btn" class="btn btn-secondary" type="submit">검색</button>
    </div>

    <!-- 리스트를 감싸는 div -->
    <div class="container">
        <!-- 리스트 영역 -->
        <div id="list">
            <div class="list-group" id="station-list">
            </div>
        </div>
    </div>
</body>

</html>